* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  height: 100%;
}

body {
  /* font-family: "Pretendard", sans-serif; */
  letter-spacing: -0.4px;
  font-size: 15px;
  color: #2a2a2a;
  position: relative;
  overflow: unset !important;
  background-color: #f7f7f7;
}

#__next {
  height: 100%;
}

dl,
ul,
ol,
li {
  list-style: none;
}

fieldset,
img,
iframe {
  border: 0 none;
}

img,
video {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

i,
em,
address {
  font-style: normal;
}

h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  color: #2a2a2a;
  color: inherit;
  text-decoration: none;
}

span,
a,
address {
  display: block;
  text-decoration: none;
}

legend {
  display: none;
}

input {
  outline: none;
}

select,
textarea,
input,
button {
  /* font-family: "Pretendard", sans-serif; */
  font-size: 15px;
}

textarea::placeholder {
  /* font-family: "Pretendard", sans-serif; */
  color: #aaaaaa;
}

button {
  cursor: pointer;

  /* 드래그 금지 */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.fixed {
  position: fixed;
  z-index: 9;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
